@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
	margin: 0;
	padding: 0;
	border: 0;
}
ul, ol {
	list-style-type: none;
}
select, input, img, select {
	vertical-align: middle;
}
.clear {
	clear: both;
}
.padbot15 {
	padding-bottom: 25px;
}
a {
	outline: none
}
/* 头部 */
.gt_top {
	background: url(../image/gt_01.jpg) repeat-x left top;
	height: 128px;
	width: 100%;
}
.gtt_main {
	width: 990px;
	margin: 0 auto;
}
.gt_banner {
	height: 527px;
	position: relative;
}
.gtb_top {
	background:url(../image/center.gif) repeat-x left top;
	height:13px;
	*margin-bottom:-8px; 
}
.gtbi_cont {
	height: 501px;
	background: #242424;
	position: relative;
}
.gtb_img {
	width: 990px;
	margin: 0 auto;
	position: relative;
}
.gtb_bot {
	background: url(../image/center2.gif) repeat-x left top;
	height: 76px;
}
.gtm_cont {
	background: url(../image/menubg_04.gif) repeat-x left top;
	height: 383px;
}
.gtmc_top {
	width: 990px;
	margin: 0 auto;
	position: absolute;
	top: 490px;
	left: 210px;
	z-index: 100000; overflow:hidden;
}
.gtmc_top ul li{float:left; height:126px; line-height:126px;}
.gtmc_top ul li a {
	height: 126px;
	line-height: 126px;
	font: 600 16px "微软雅黑";
	margin-left: 80px!important; margin-left:40px; display:block; float:left;
}
.gtmc_top ul li a.cx {
	background: url(../image/but01.gif) no-repeat 0px 0px;
	padding-left: 140px;
	line-height: 126px;
}
.gtmc_top ul li a.th {
	background: url(../image/but02.gif) no-repeat 0px 0px;
	padding-left: 140px;
	line-height: 126px; 
}
.gtmc_top ul li a.thddcx {
	background: url(../image/but03.gif) no-repeat 0px 0px;
	padding-left: 140px;
	line-height: 126px;
}
.gtmc_top ul li a {
	color: #fbce79;
	text-decoration: none;
	display:block;
}
.gt_gz {
	background: #360508;
	padding: 35px 0!important; padding:0px;
	padding-bottom:20px; 

}
.gt_text {
	background: url(../image/gt_10.jpg) no-repeat left top;
	width: 900px;
	margin: 0 auto;
	padding-top: 80px;
	padding-left: 45px;
	padding-right: 45px;
}
.gt_text p {
	line-height: 24px;
}
.name {
	font: 600 18px "微软雅黑";
	color: #f4b745;
	padding-bottom: 15px;
}
.gtt_left {
	float: left;
	width: 430px;
	color: #cf7604;
	font-size: 14px;
}
.gtt_right {
	float: right;
	width: 430px;
	color: #cf7604;
	font-size: 14px;
}
/* 内容 */
#gt_cx {
	background: url(../image/repeat.jpg) repeat-x left top;
	height: 246px;
}
.gtcx_main {
	background: url(../image/gt_15.jpg) no-repeat left top;
	width: 990px;
	height: 246px;
	margin: 0 auto;
}
#gt_th {
	background: url(../image/gt_16.jpg) repeat-x left top;
	height: 530px;
}
.gtth_main {
	background: url(../image/gt_17.jpg) no-repeat left top;
	width: 990px;
	height: 530px;
	margin: 0 auto;
}
#gt_thddcx {
	background: #6c0a0f;
}
.gtthddcx_main {
	background: url(../image/gt_19.jpg) no-repeat left top;
	width: 990px;
	margin: 0 auto;
}
.gt_table {
	padding: 40px 45px 15px 185px;
}
.gt_table table {
	width: 525px;
}
.gt_table table td {
	color: #f4b745;
	font-size: 14px;
	font-weight: bold;
	padding: 6px;
}

.input1 {
	background: url(../image/input01.gif) no-repeat left top;
	width: 327px;
	height: 40px;
	border: none;
}
.input2 {
	background: url(../image/input02.gif) no-repeat left top;
	width: 150px;
	height: 40px;
	border: none;
}
.input3 {
	background: url(../image/input04.gif) no-repeat left top;
	width: 401px;
	height: 40px;
	border: none;
}
.input4 {
	background: url(../image/input05.gif) no-repeat left top;
	width: 202px;
	height: 40px;
	border: none;
}
.ticketDowns {
	cursor: pointer;
}
.gtthddcx_cont {
	padding: 20px 45px 15px 150px;
}
.gtthddcx_cont table {
	width: 635px;
}
.gtthddcx_cont table td {
	color: #f4b745;
	font-size: 14px;
	font-weight: bold;
	padding: 6px;
}
.gtcontul{padding:15px 0px; border-bottom:1px solid #923a1e;}
.gtcontul_left{float:left; width:170px;}
.gtcontul_left img{padding:5px; background:#360508;}
.gtcontul_right{float:left; width:620px; color:#d9b38b; font-size:12px;}
h3{font:400 18px "微软雅黑"; padding-bottom:15px; color:#FFF;}
.gtcontul_right p{line-height:32px;}
.gtcontul_right ul li{line-height:32px; float:left; width:280px;}

.box01{ position:relative;}
.box01 li{ width: 147px; text-align: center; height: 96px; cursor: pointer; z-index:0; position:relative;}
.box01 li img{ height: 96px; }
.box01 li .in{ position: absolute; left: 0; top: 0;width: 147px; }
.box01 li .in p{ display: none; text-align: left;}
.box01 li.on{ z-index:99;}
.box01 li.on .in{ padding: 5px; border: 1px solid #ccc; position:absolute; z-index:100; width:auto; text-align: center; top:-150px;  background: #fff;}
.box01 li.on .in p{ position:relative; display:block; font-size:12px; line-height:24px;}
.box01 li.on img{ height: auto; }
.bsc{ position:absolute;}
.page{padding:15px 0;}
.page a{padding:5px 8px; background:#390204; margin-right:5px; color:#d9b38b; font-size:12px; text-decoration:none;}
.page a:hover{background:#9e4506;}
.page a.pagenow{background:#9e4506;}
/* banner */
.mainbox {
	overflow: hidden;
	position: relative;
}
.flashbox {
	overflow: hidden;
	position: relative;
}
.imagebox {
	text-align: right;
	position: relative;
}
.bitdiv {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 10px 30px 0px;
	cursor: pointer;
	float: right;
}
.defimg {
	background-image: url(../image/02.png)
}
.curimg {
	background-image: url(../image/01.png)
}
.selectstyle {
	background: url(../image/input03.gif) no-repeat left top;
	width: 121px;
	height: 40px;
	position: relative;
}
.selectstyle select {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 110px;
	height: 30px;
	border: 0;
	padding-top: 6px;
	background: #fae5b1;
	font-weight: bold;
}
#myHiddenDiv {
	display: none;
	position: relative;
}
.popup {
	border: 1px solid #370508;
	background: #fae5b1;
	padding-bottom: 20px;
}
.popup p.popupname {
	font: 600 18px "微软雅黑";
	color: #fff;
	background: #850b13;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
}
.popuptable {
	padding: 20px;
}
.popup table {
	border-collapse: collapse;
}
.popup table td {
	padding: 8px;
	background: #ffffff;
	font-size: 12px;
	font-weight: lighter;
	color: #333;
	text-align: center;
	border: 1px solid #bc7b4d;
}
.popup table th {
	padding: 8px;
	background: #f4b745;
	color: #4f080c;
	font-size: 12px;
	font-weight: lighter;
	border: 1px solid #bc7b4d;
}
a.close {
	display: block;
	color: #fff;
	text-decoration: none;
	background: url(../image/gb.jpg) no-repeat left top;
	width: 99px;
	height: 43px;
	text-align: center;
	margin: 0 auto;
	border: none;
	z-index: 10000;
}