/* CSS Document */
*{ padding:0; margin:0;}
.clearfix:before, .clearfix:after {content:"";display: table;line-height: 0;}
.clearfix:after {clear: both;}
img{ border:0;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both; overflow:hidden; zoom:1;}
a{ color:#007AFF; text-decoration:none;transition: all 0.2s linear 0s;}
ul,li,ol{ list-style:none;}
body{ color:#000; font:12px/1.5 \5FAE\8F6F\96C5\9ED1;  background:url(../images/bottom-bg.jpg) repeat-y 0 0 #f5f6f7; }
.wrap{ width:100%; min-width:1000px; _width:1000px; width:auto !important;}
input.submit, input.button, input.reset {filter:chroma(color=#000000);}
a:focus, *:focus {noFocusLine: expression(this.onFocus=this.blur());}
:focus {outline:none;} /*for IE*/
::-moz-focus-inner {border-color: transparent;} /*for mozilla*/
.clr{ clear:both; font-size:0; height:0; overflow:hidden;}
.btn {background-color: #c5102c;border-radius: 3px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 1px #ffffff, 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;color: #ffffff;border:1px solid #c4212e; padding:8px; width:260px; font-size:16px; cursor:pointer; border-bottom:0 none;}
.btn:hover{background-color:dc2a39;}
.btn:active{background-color:b10f28;}
.lbg{background:url("../images/loginbg.jpg") no-repeat center 0;}
.bgicon{width:898px; height:269px; position:absolute;background:url("../images/icon.png") no-repeat center 0!important;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src="../images/icon.png", enabled=true, sizingMethod=scale); transition:all 1s ease 0.5s; top:50%; left:50%; margin:-135px 0 0 -460px; z-index:0;opacity:0.7;filter:alpha(opacity=70);_opacity:0.7;_filter:alpha(opacity=70);}
/*Login*/
.login_wrap{ width:900px; margin:0 auto;}
.login_box .logo {height:143px; margin:30px auto 0 auto; border-bottom:1px solid #ccc; background:url("../images/logo.png") no-repeat center 0; overflow:hidden;}
.login_box{ width:320px; height:500px; background:rgba(255, 255, 255, 0.95);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffff',EndColorStr='#ffffff'); _background:#fff;border-radius:8px; position: absolute; box-shadow:0 0 50px rgba(0, 0, 0, 0.2);transition:all 1s ease 0.5s; top:50%; left:50%; margin:-250px 0 0 -160px; overflow:hidden; z-index:10;}
.login_form{ margin:0 30px; position:relative;}
.login_form .tit{ padding:20px 0; font-size:16px; text-align:center;}
.login_form .f1{ border:1px solid #cbcbcb; background-color:#f7f7f7; height:122px;border-radius:4px; overflow:hidden; margin-bottom:20px;}
.login_form .f1 .item{position:relative; z-index: 1;}
.login_form .f1 .error{position:relative; z-index:2;}
.login_form .f1 .item i{ display:inline-block; position:absolute; width:30px; height:30px; top:7px; left:5px;background:url("../images/login_icon.png") no-repeat center 0;opacity:0.5;filter:alpha(opacity=50);_opacity:0.5;_filter:alpha(opacity=50);}
.login_form .f1 .item i.account{ background-position:0 0;}
.login_form .f1 .item i.password{ background-position:0 -30px;}
.login_form .f1 .item i.code{ background-position:0 -60px;}
.login_form .f1 input.s1,.login_form .f1 input.s2{ width:210px;background-color:#f7f7f7; height:40px; line-height:40px; border:0 none; border-radius:4px 4px 0 0; padding-left:40px; padding-right:10px;border-bottom:1px solid #cbcbcb;}
.login_form .f1 input.s2{ width:90px; border-right:1px solid #ccc; border-radius:0;}
.login_copy{color:#999; font-size:10px; text-align:center; height:60px; line-height:55px; width:320px; position:absolute; top:50%; margin-top:260px; left:50%; margin-left:-160px; }
.cd-error-message {display: inline-block;position: absolute;left: 0px;bottom: -37px;background: none repeat scroll 0% 0% rgba(215, 102, 102, 0.9)!important;filter:Alpha(opacity=90); background:#da7474;padding: 0.8em;color: #FFF;font-size: 0.8125rem;border-radius: 0.25em;pointer-events: none;visibility: hidden;opacity: 0;}
.cd-error-message::after {content: "";position: absolute;left: 14px;bottom: 100%;height: 0px;width: 0px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid rgba(215, 102, 102, 0.9);}
.error .is-visible {opacity: 1;filter:alpha(opacity=100);_opacity:1;_filter:alpha(opacity=100);visibility: visible;}
.login_form .f1 .error input{ background-color:#fff0f0;}
.help-password{ background-color:#f1f1f1; text-align:center; margin-top:25px; line-height:50px; border-top:1px solid #e5e5e5;}
.help-password a{ color:#666;}