<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品管理</title>
	<link href=#springUrl('/static/js/jquery-easyui/themes/default/easyui.css') rel="stylesheet" type="text/css"/>
	<link href=#springUrl('/static/js/jquery-easyui/themes/icon.css') rel="stylesheet" type="text/css"/>
	<script src=#springUrl('/static/js/jquery-easyui/jquery.min.js') ></script>
	<script src=#springUrl('/static/js/jquery-easyui/jquery.easyui.min.js') ></script>
	<script src=#springUrl('/static/js/jquery-easyui/locale/easyui-lang-zh_CN.js') ></script>
	<script src=#springUrl('/static/js/yfcommon.js') ></script>
	<script>
		$(function(){
			//查询参数初始化
			var pageSize = 20;
			var pageNumber = 1;
			var sortName = '';
			var sortOrder = '';
			$('#dg').datagrid({
			    url:"listtwo",
			    toolbar:'#toolbar',
				pagination:true,
				singleSelect:true,
				pageList: [10,20,30],
			    pageSize:pageSize,
			    pageNumber:pageNumber,
			    sortOrder:sortOrder,
			    sortName:sortName,
				rownumbers:true,
				fit: true,   //满屏
			   	columns:[[
			   		{field:'id',title:'编号', width:50, align:"center",sortable:true},
					{field:'nickname',title:'发布人', width:100, align:"center",sortable:true},
					{field:'picDef',title:'默认图片', width:120, align:"center",sortable:true,
						formatter:
                     		function(value, row, index){  
							return  '<img  height="50" width="90" onclick="showinfo('+row.id+')" src="'+value+'" >';
                        }						
					},
					{field:'yulan',title:'预览', width:50, align:"center",sortable:true,
						formatter:
						function(value, row, index) {
							return '<a target="_blank" href="http://www.drbwx.com/huixuan/'+row.id+'">预览</a>';
						}	
					},
					{field:'title',title:'标题', width:380, align:"center",sortable:true,
						formatter:
						function(value, row, index) {
							return '<a href="javascript:void()" onclick="showinfo('+row.id+')">'+value+'</a>';
						}
					},
					{field:'names',title:'分类s', width:60, align:"center", sortable:false},
					{field:'name',title:'分类', width:60, align:"center", sortable:false},
					{field:'collectCount',title:'收藏数目', width:40, align:"center", sortable:false},
					{field:'commentCount',title:'评论数目', width:40, align:"center", sortable:false},
					{field:'downCount',title:'赞', width:40, align:"center", sortable:false},
					{field:'upCount',title:'踩', width:40, align:"center", sortable:false},
					{field:'creatDt',title:'创建时间', width:150, align:"center", sortable:false,
	                     formatter:function(value,row,index){  
                         var unixTimestamp = new Date(value);  
                         return unixTimestamp.toLocaleString();  
                         } 
					},
					{field:'fabiao_date',title:'发布时间', width:150, align:"center", sortable:false},
			   		{field:'status',title:'状态', width:60, align:"center",sortable:true,
						 formatter:  
                         function(value, row, index){  
                         if(value==1)  {
                             return "审核中";  
                         }else if(value==2){
					 		return "已通过"; 
						 }else if(value == 3){
						 
						 	return "未通过"; 
						 }else {
						 	return "未知";
						 }
                        }
					},
					{field:'check2',title:'审核通过', width:80, align:"center",
						formatter:
						function(value, row, index) {
							return '<a href="javascript:void()" onclick="shenhe('+row.id+',2)">通过</a>';
						}
					},
					{field:'check3',title:'审核不通过', width:80, align:"center",
						formatter:
						function(value, row, index) {
							return '<a href="javascript:void()" onclick="shenhe('+row.id+',3)">不通过</a> ';
						}
					}
			   	]]
			});
			doSearch();
		})		
    </script>
</head>
<body>
	<table id="dg">
	</table>
	<div id="toolbar" style="padding:5px;height:auto">
		<div style="margin-bottom:5px">
			#if($tianjia)<a href="#" onclick="gotoAdd()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>#end
			#if($bianji)<a href="#" onclick="gotoEdit()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑</a>#end
			#if($shanchu)<a href="#" onclick="delrow()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>#end
			<a href="javascript:void()" onclick="doSee()" class="easyui-linkbutton"  iconCls="icon-large-smartart" plain="true">查看</a>
			<a href="javascript:void()" onclick="doUpdate()" class="easyui-linkbutton"  iconCls="icon-edit" plain="true">修改</a>
		</div>
			<div>
			分类:
			<input id="qcatId1" class="easyui-combobox" style="width:100px" data-options="
                       valueField:'id',
                       textField:'name',
                       url: 'classificationtwo',
                       onSelect: function(rec2){
                           $('#qcatId').combobox('clear');  
                           var url2 = 'classificationthree?id='+rec2.id;
                           $('#qcatId').combobox('reload', url2);
                   }"></td>
			<input id="qcatId" class="easyui-combobox" style="width:100px" data-options="valueField:'id',textField:'name'"/>
			&nbspID: <input id="qid" name="qid" class="easyui-textbox" type="text" style="width:100px" data-options="required:true"></input>
			&nbsp达人昵称: 
			<input id="username"  name="username" class="easyui-textbox" type="text" style="width:100px" data-options="required:true"></input>
			&nbsp达人id: 
			<input id="quid" name="quid" class="easyui-textbox" type="text" style="width:100px" data-options="required:true"></input>
			&nbsp标题： <input id="qtitle"  name="qtitle" class="easyui-textbox" type="text" style="width:100px" data-options="required:true"></input>
			<a href="javascript:void()" onclick="doSearch()" class="easyui-linkbutton" iconCls="icon-search"></a>
		</div>
	</div>
	
	 <!--编辑-->
	<div id="editwin" closed="true" class="easyui-window"  title="会选详情" data-options="iconCls:'icon-save'" style="width:800px;height:400px;padding:10px;">
	   
	</div>
	
		<!-- 修改 -->
	<div id="modify" class="easyui-window"  title="修改商品信息" align="center" style="width:700px;height:200px;"
	data-options="iconCls:'icon-save',modal:true" closed="true" collapsible="false" minimizable="false" maximizable="false" resizable="false">
	   <div class="easyui-layout" data-options="fit:true" style="width: 100%;">
	   <div data-options="region:'north'" align="center" style="width: 100%;height:135px;" >
	   <table style="width: 90%;height: 100%;">
			<tr><td>分类：</td>
			    <td><input id="cc2" class="easyui-combobox" required="false" data-options="
                       valueField:'id',
                       textField:'name',
                       url: 'classificationtwo',
                       onSelect: function(rec2){
                           $('#cc3').combobox('clear');  
                           var url2 = 'classificationthree?id='+rec2.id;
                           $('#cc3').combobox('reload', url2);
                   }"></td>
			    <td><input id="cc3" class="easyui-combobox" required="false" data-options="valueField:'id',textField:'name'"/></td></tr>
		</table>
		</div>
		<div data-options="region:'center'" style="background-color: #F4F4F4;" align="right">
		<a onclick="savemodify()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" plain="true">保存</a>
		</div>
		</div>
	</div>
	
	<!-- 查看 -->
	<div id="View_specific" class="easyui-window"  title="商品信息" align="center" style="width:800px;height:300px;padding:10px;"
	modal:true" closed="true" collapsible="false" minimizable="false" maximizable="false" resizable="false">
	    <table style="width:100%;height:100%" >
			<tr align="center">
				<td id="tdtitle" colspan="4"></td>
			</tr>
			<tr><td style="width:10%">状态：</td><td id="tdstatus" style="width:40%" ></td>  
			    <td style="width:10%" >发布人：</td><td id="tduid" style="width:40%" ></td></tr>
			<tr><td>分类：</td><td id="tdcatId"></td>  <td>创建时间：</td><td id="tdcreatDt"></td></tr>
			<tr><td>二级分类：</td><td id="tdcatId1"></td>  <td>发布时间：</td><td id="tdfabiao_date"></td></tr>
		</table>
	</div>
			
</body>
	<SCRIPT >    

		function savemodify(){
	       var row = $('#dg').datagrid('getSelected');
	       var cat_id = $('#cc3').combobox('getValue');
	       	jQuery.ajax({
				type : "post",
				url  : "savemodify",
				datetype: "json",
				data: {id:row.id,cat_id:cat_id},
				success: function(data){
					if(data.status==200){
						jQuery.messager.alert('操作成功','操作成功')
						$('#modify').window('close');
						$('#dg').datagrid('reload');
					}s
				},
				error:function(){
					jQuery.messager.alert('操作失败','操作失败，系统异常','error')
				}
			});	
	}
	
	$('#modify').window({
       onBeforeClose:function(){
          $('#cc2').combobox('clear');  
          $('#cc3').combobox('clear');
       }
    });
   
	function doUpdate(){
	   var row = $('#dg').datagrid('getSelected');
            if (row){
                if(row.catId1>0){
                $('#cc2').combobox('select', row.catId1);
                $('#cc3').combobox('select', row.catId);
                }
            	$('#modify').window('open');  	
            }else{
            alert("请选择需要修改信息的商品");
            }
	   }
	
	function doSee(){
	   var row = $('#dg').datagrid('getSelected');
            if (row){
                var unixTimestamp = new Date(row.creatDt);  
                var time = unixTimestamp.toLocaleString();   
                var rstatus = "未知";
                         if(row.status==1)  {
                             rstatus = "核审中";  
                         }else if(row.status == 2){
					 		rstatus = "已通过"; 
						 }else if(row.status == 3){
						 	rstatus = "未通过"; 
						 }else{
						    rstatus = "未知"; 
						 }
                $("#tdtitle").html("标题："+row.title);
                $("#tdstatus").html(rstatus);
                $("#tdcatId").html(row.names);
                $("#tdcatId1").html(row.name);
                
                $("#tduid").html(row.nickname);
                $("#tdcreatDt").html(time);
                $("#tdfabiao_date").html(row.fabiao_date);
            
            	$('#View_specific').window('open');  	
            }else{
            alert("请选择需要查看信息的商品");
            }
	   }
	
		function doSearch(){
			//查询参数初始化
			var title = $('#qtitle').val();
			var id = $('#qid').val();
			var catId = $('#qcatId').combobox('getValue');
			var username = $('#username').val();
			var uid = $('#quid').val();
			var catId1 = $('#qcatId1').combobox('getValue');
			
			$("#dg").datagrid('load',{
				title:title,
				id:id,
				catId:catId,
				status:1,
				uid:uid,
				username:username,
				catId1:catId1
	    	});
		}
		
		function showinfo(id){
			
			$('#editwin').window('refresh', 'view?id='+id);
			
			$('#editwin').window('open');
		}
		
    	function shenhe(id,status){
		
			jQuery.ajax({
				type : "post",
				url  : "check",
				datetype: "json",
				data: {id:id,status:status},
				success: function(data){
					if(data.status==200){
						jQuery.messager.alert('操作成功','操作成功')
						$('#editwin').window('close');
						$('#dg').datagrid('reload');
					}s
				},
				error:function(){
					jQuery.messager.alert('操作失败','操作失败，系统异常','error')
				}
			});	
    	}
		
    </SCRIPT>
</html>